.ModalTitle, .ModalTitle > * {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    word-break: break-word;
    font-family: var(--font-family);
    color: var(--title);
    font-size: 27px;
    line-height: 2.28571rem;
    font-weight: 700;
}