.FieldWrapper {
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: var(--field-background);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    box-shadow: 0 0 transparent,inset 0 0 0 1px rgba(255,255,255,0.1);
    border: none;
    border-bottom: 2px solid var(--field-background);
    border-radius: 6px;
}

.FieldWrapper.F {
    max-width: 100%;
}

.FieldWrapper:focus-within {
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid var(--primary);
}

.Field {
    transition: all 0.5s ease-in-out;
    max-width: 400px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    border: none;
    border-bottom: 0px solid var(--field-background);
    border-radius: 3px;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: 400;
    letter-spacing: normal;
    font-kerning: normal;
    font-size: 14px;
    color: var(--field-color);
    padding-right: 8px;
    text-indent: 6px;
}

.Field.NTI {
    text-indent: 0px;
}